---
# main sass file
---
@charset "utf-8";

$red: #EA0068;
$green: #0FC;
$black: #222;
$white: #FFF;
$sans-serif: sans-serif;
$serif: serif;

@mixin media-query($value) {
    @media screen and (max-width: $value) {
        @content;
    }
}

html {
  background: $green;
}

body {
  font: 1em/1.5 $sans-serif;
  color: $black;
  max-width: 660px;
  margin-left: 3em;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  font-family: $serif;
  line-height: 1.1;
}

h1 {
  font-szie: 1.125em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

p {
  margin: 0 0 0.5em;
}

.page-header {
  padding: 1em;

  a {
    text-decoration: none;
    font-size: 80%;
  }
}

.page-footer {
  padding: 0 1em 1em;
  font-size: 80%;
}

.box {
  margin: 0 0 3em;
  padding: 1em 2em;
  background: $white;
  box-shadow: 1em 1em 0 0 #000;

  &-heading {
    margin: 0 0 0.5rem;
  }
}

.inlineCollection {
  padding: 0 0 0.5em;

  &-item {
    padding: 0 0.5em;
    display: inline-block;
  }
}
