---
# main sass file
---
@charset "utf-8";

$red: #EA0068;
$green: #C0FFEE;
$black: #000;
$white: #FFF;
$sans-serif: sans-serif;
$serif: serif;
$mono: monospace;

@mixin media-query($value) {
    @media screen and (max-width: $value) {
        @content;
    }
}

html {
  background: $green;
}

body {
  margin: 0;
  font: 1em/1.5 $mono;
  color: $black;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  font-family: $mono;
  line-height: 1.1;
}

h1 {
  font-size: 1em;
  line-height: 1;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

p {
  margin: 0 0 0.5em;
}

@-webkit-keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(90%);
  }
}

.page-header {
  padding: 1em;
  overflow: hidden;

  h1 {
    animation: slide 8s linear infinite alternate;

    a {
      text-decoration: none;
    }
  }
}

.page-mainContent {
  margin: 0 0 0 3em;
}

.box {
  margin: 0 0 3em;
  padding: 2em;
  max-width: 42em;
  background: $white;
  box-shadow: 1.5em 1.5em 0 0 $black;

  &-heading {
    margin: 0 0 0.5rem;
  }
}

.inlineCollection {
  padding: 0 0 0.5em;

  &-item {
    padding: 0 0.5em;
    display: inline-block;

    &:hover {
      text-decoration: none;
    }
  }
}
