---
# main sass file
---
@charset "utf-8";

$red: #DA587F;
$green: #A6F8EC;
$blue: #53BEDE;
$blue--dark: #2E6AB3;
$black: #000;
$white: #FFF;
$sans-serif: sans-serif;
$serif: serif;
$mono: monospace;

@mixin media-query($value) {
    @media (min-width: $value) {
        @content;
    }
}

@mixin scheme($color1, $color2) {
  background: $color1;
  background-image: linear-gradient(transparent, $color2);
}

$count: 1;
$colorlist1: ($blue $green);
$colorlist2: ($blue--dark $blue $red);

@each $color1 in $colorlist1 {
  @each $color2 in $colorlist2 {
    .scheme--#{$count} {
      @include scheme($color1, $color2);
    }
    $count: $count + 1;
  }
}

html {
  @include scheme($blue, $blue--dark);
}

body {
  margin: 0;
  font: 1em/1.5 $mono;
  color: $black;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  font-family: $mono;
  line-height: 1.1;
}

h1 {
  font-size: 1em;
  line-height: 1;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

p {
  margin: 0 0 0.5em;
}

@-webkit-keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(90%);
  }
}

.page-header {
  padding: 1em;
  overflow: hidden;

  h1 {
    animation: slide 8s linear infinite alternate;

    a {
      color: $white;
    }
  }
}

.page-mainContent {
  padding: 0 0 3em 2em;

  @include media-query(36em) {
    padding-left: 3em;
  }
}

.box {
  margin: 0 0 3em;
  padding: 2em;
  max-width: 42em;
  background: $white;
  box-shadow: .75em .75em 0 0 $green, 1.5em 1.5em 0 0 $black;

  &:last-of-type {
    margin: 0;
  }

  &-heading {
    margin: 0 0 0.5rem;
  }
}

.inlineCollection {
  padding: 0 0 0.5em;

  &-item {
    padding: 0 0.5em;
    display: inline-block;

    &:hover {
      text-decoration: none;
    }
  }
}

.page-footer {
  padding: 0.75em;
  color: $red;
  background: $red;
}