<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="page-wrapper">
      {% include header.html %}
      <main class="page-mainContent">
        <section class="box">
          <p>Hi, I'm David Wilhelm, a web developer currently based in <span>Detroit</span>. Below are some select projects from <a rel="me" href="https://github.com/dogsGhost">my GitHub</a>.</p>
        </section>
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
